html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #f3dab1;
    min-height: 100%;
}

h1 {
    font-family: Chiaro;
}

table {
    padding: 0 1rem;
    min-width: 80%;
    max-width: 100%;
}

.fixed-width-td {
    width: 7.5rem;
}

input {
    max-width: 80%;
}

input[type=number] {
    width: 2.5rem;
}

/* input[type=file] { */
/* width: 400px; */
/* } */

@font-face {
    font-family: 'Chiaro';
    src: url('Chiaro.otf');
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.x-button {
    cursor: pointer;
}

.dialogue-input {
    margin: 0 2.5rem .25rem 0;
}

.advanced-option {
    margin-bottom: .5rem;
}

#footer {
    font-family: Arial, sans-serif;
    font-size: 10px;
    padding: 10px;
}

#imagecanvas {
    border-color: white;
    border-style: solid;
}

@media screen and (min-width: 800px) {
    body {
        background-image: url("feimages/pagebackground.jpg");
        background-attachment: fixed;
        background-size: cover;
    }

    .container {
        border-style: none solid;
    }
}