.indent {
	text-indent: 1rem;
}
.reverse-indent {
	text-indent: -1rem;
	padding-left: 1rem;
}
.removable-list-item:hover {
	color: red;
	text-decoration: line-through;
	cursor: pointer;
}
.statblock-image {
	width: 12px;
	height: 12px;
	cursor: pointer;
}
.statblock-list {
	text-align: left;
	margin: 4px 4px .5rem;
	padding-left: 16px;
}

#stat-block-wrapper {
	margin: 20px;
	box-shadow: 0 0 1.5rem #867453;
	display: inline-block;
}
#legendaries-descsection {
	margin: 8px 0 0;
}
#stat-helper tr {
	border-bottom: 1px solid;
}
#stat-helper td, #stat-helper th {
	text-align: center;
	border-left: 1px solid;
	min-width: 3rem;
	padding: 0 .5rem;
}
#stat-helper .left-td {
	border-left: none;
	text-align: left;
	padding-left: 0px;
	font-weight: bold;
}

@media screen and (min-width: 992px) {
	#stat-block-body {
		background-image: url("../dndimages/statblockbkg.jpg");
	}
}