html
{
	background-attachment: fixed;
	background-size: cover; 
}

body
{
	font-family: Georgia, Arial, sans-serif;
	text-align: left;
    max-width: 1000px;
    margin: 0px auto;
	line-height: 125%;
	background-image: url('./dndimages/papyr.jpg');
	border-style: none solid;
}

.content
{
    padding: 25px 50px;
}

h1, h2
{
	font-family: Tahoma, Georgia, Arial, sans-serif;
}

a
{
    color: darkred;
	text-decoration: none;
}

.booklist>li
{
	margin: 0 0 1% 0;
}

.booklist
{
	list-style-type: none;
	padding: 0px 18px;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: darkred;
	text-decoration: none;
	cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
	background-image: url("dndimages/paper.jpg");
	background-size: cover;
	background-position: center; 
    color: #000000;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
	border-style: solid;
	border-radius: 5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* http://css3buttongenerator.com/ */

.buttoncontainer
{
    text-align: center;
}

button {
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #ffffff;
	font-size: 16px;
	background: #91ab8e;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	width: auto;
}

button:hover {
	background: #a5c791;
	text-decoration: none;
}

.collapsiblebutton {
	cursor: pointer;
	font-size: 15px;
    color: darkred;
	
	/* Make Unselectable */
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.expandretracttext
{
	text-align: center;
	cursor: pointer;
	font-size: 15px;
    color: darkred;
	width: 50%;
    display: inline-block;
	font-size: 18px;
	
	/* Make Unselectable */
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centeredcontainer
{
	display: block;
	text-align: center;
}

hr
{
	border-style: solid;
	border-color: black;
}

#imagecanvas
{
	border-color: white;
	border-style: solid;
}

input[type=number]{
    width: 60px;
}
table{
  table-layout: fixed;
  text-align: left;
  width: 100%;
}
td{
  text-align: left;
  vertical-align: top;
}
ul{
  text-align: left;
  margin: 4px 4px 16px;
  padding-left: 16px;
}
textarea{
  width: 80%;
}
.indent
{
  text-indent: 1em;
}
.reverse-indent
{
  text-indent: -1em;
  padding-left: 1em;
}
.box-note
{
  font-size: 10pt;
}
.removable-list-item:hover
{
  color: red;
  text-decoration: line-through;
  cursor: pointer;
}
#legendaries-descsection{
  margin: 8px 0 0;
}
